BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;

############		Location and IO Constraints		############

#	Input Reset
LOCATE COMP "reset_n_i" SITE "J4" ;

#	SX3 interface
LOCATE COMP "slclk_o" SITE "J8" ;# pixel data clock output
LOCATE COMP "sldata_o[0]" SITE "K6" ;# pixel data output
LOCATE COMP "sldata_o[1]" SITE "K7" ;
LOCATE COMP "sldata_o[2]" SITE "J6" ;
LOCATE COMP "sldata_o[3]" SITE "K3" ;
LOCATE COMP "sldata_o[4]" SITE "J3" ;
LOCATE COMP "sldata_o[5]" SITE "F2" ;
LOCATE COMP "sldata_o[6]" SITE "F1" ;
LOCATE COMP "sldata_o[7]" SITE "E1" ;
LOCATE COMP "sldata_o[8]" SITE "D9" ;
#LOCATE COMP "flaga_count_index" SITE "D9" ;
LOCATE COMP "sldata_o[9]" SITE "D10" ;
#LOCATE COMP "buf_done_o" SITE "D10" ;
LOCATE COMP "sldata_o[10]" SITE "E10" ;
#LOCATE COMP "cur_gpif_st_o[0]" SITE "E10" ;
LOCATE COMP "sldata_o[11]" SITE "F9" ;
#LOCATE COMP "cur_gpif_st_o[1]" SITE "F9" ;
LOCATE COMP "sldata_o[12]" SITE "F10" ;
#LOCATE COMP "pktend_g_o" SITE "F10" ;
LOCATE COMP "sldata_o[13]" SITE "G9" ;
#LOCATE COMP "current_stream_in_state_o[0]" SITE "G9" ;
LOCATE COMP "sldata_o[14]" SITE "G10" ;
#LOCATE COMP "cam_app_en" SITE "G10" ;
LOCATE COMP "sldata_o[15]" SITE "J7" ;
#LOCATE COMP "cam_fifo_overflow" SITE "J7" ;

LOCATE COMP "slcs_o" SITE "E2" ;
LOCATE COMP "slwr_o" SITE "K5" ;
LOCATE COMP "sloe_o" SITE "J5" ;
LOCATE COMP "slrd_o" SITE "K9" ;
########## Rev03 ##########################
LOCATE COMP "flagb_i" SITE "H9" ;	# DMA_Ready 
LOCATE COMP "flaga_i" SITE "J10" ;	# DMA_Partial

LOCATE COMP "pktend_o" SITE "K10" ;
LOCATE COMP "sl_addr_o[0]" SITE "K4" ;# Address lines for 32/16 bit bus Widths
LOCATE COMP "sl_addr_o[1]" SITE "E9" ;# Address lines for 32/16 bit bus Widths
LOCATE COMP "mic_clk_o" SITE "K8" ;
//LOCATE COMP "mic_pdm_data_i" SITE "J9" ;

# System I2C
LOCATE COMP "sx3_i2c_sda_io" SITE "J1" ;
LOCATE COMP "sx3_i2c_scl_io" SITE "H1" ;

# Following is the constrain for using MIPI port. By default, it uses port 0
# but here, port 1 is used.
LOCATE COMP "mipidphy2cmos/rx_dphy/csi_dphy_rx_inst/dphy_rx_inst/u_dphy_wrapper/MIXEL.mixel_dphy" SITE "MIPIDPHY1" ;



# Temp outputs
##  LOCATE COMP "cam_fifo_overflow"            SITE "G1"   ;  # G1- MOSI -fv
##  LOCATE COMP "cam_app_en"            SITE "K1"   ;  # K1-MISO
##  LOCATE COMP "no_of_clk_pulses_in_fv_o"  SITE "K9"   ;  # SLRD

  IOBUF PORT "cam_fifo_overflow"            IO_TYPE=LVCMOS33 ; 
  IOBUF PORT "cam_app_en"            IO_TYPE=LVCMOS33 ;
  IOBUF PORT "no_of_clk_pulses_in_fv_o"  IO_TYPE=LVCMOS33 ;

SYSCONFIG SLAVE_SPI_PORT=DISABLE I2C_PORT=DISABLE CDONE_PORT=CDONE_USER_IO BOOT_UP_SEQUENCE=NVCM ;

BANK 0 VCCIO 3.3 V;
BANK 1 VCCIO 3.3 V;
BANK 2 VCCIO 3.3 V;

IOBUF PORT "reset_n_i" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "slclk_o" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sldata_o[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sldata_o[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sldata_o[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sldata_o[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sldata_o[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sldata_o[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sldata_o[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sldata_o[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sldata_o[8]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "flaga_count_index" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sldata_o[9]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "buf_done_o" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sldata_o[10]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "cur_gpif_st_o[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sldata_o[11]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "cur_gpif_st_o[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sldata_o[12]" IO_TYPE=LVCMOS33 ;
//IOBUF PORT "pktend_g_o" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sldata_o[13]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "current_stream_in_state_o[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sldata_o[14]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "current_stream_in_state_o[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sldata_o[15]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "vid_buf_dvld" IO_TYPE=LVCMOS33 ;
#IOBUF PORT "rx_sp_en" IO_TYPE=LVCMOS33 ;
IOBUF PORT "slcs_o" IO_TYPE=LVCMOS33 ;
IOBUF PORT "slwr_o" IO_TYPE=LVCMOS33 ;
IOBUF PORT "flagb_i" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "flaga_i" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "pktend_o" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sl_addr_o[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sl_addr_o[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sx3_i2c_scl_io" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "sx3_i2c_sda_io" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "sloe_o" IO_TYPE=LVCMOS33 ;
IOBUF PORT "slrd_o" IO_TYPE=LVCMOS33 ;
IOBUF PORT "mic_clk_o" IO_TYPE=LVCMOS33 ;
//IOBUF PORT "mic_pdm_data_i" IO_TYPE=LVCMOS33 PULLMODE=NONE ;


###########		Timing Constarints			############
BLOCK JTAGPATHS ;

FREQUENCY NET "clk_osc" 48 MHz ;
FREQUENCY NET "clk_pixel" 83.75 MHz ; # For 1080p and 720p resolutions
#FREQUENCY NET "clk_pixel" 16 MHz ; # For VGA resolution
#FREQUENCY NET "clk_pixel" 80 MHz ; # For VGA resolution
#FREQUENCY NET "mic_clk_o_c" 3.072 MHz ;


# -----------------------------------------------------------------
#
# Input Delay
#
# -----------------------------------------------------------------
# -----------------------------------------------------------------
#
# Maximum Propogation Delay:
#
#  Where, P is Period of Clock (11.9047 ns)
#         PDMAXp is the Maximum Clock to Out Delay (8 ns)
#         PDMINp is the Minimum Clock to Out Delay (0.1 ns)
#         Tskew is the clock skew (0.1 ns)
#
# Maximum Value = P - PDMAXp - PDMAXb - Tskew
#
#               = 11.9047 - 8 - 0.25 - 0.1 = 3.5547 ns
#               = 62.5 - 8 - 0.25 - 0.1 = 54.15 ns
#               = 12.5 - 8 - 0.25 - 0.1 = 4.15 ns
#
# Minumum Value = PDMAXp + PDMAXb + Tskew
#
#               = 0.1 + 0.1 + 0.1 = 0.3 ns
#
# -----------------------------------------------------------------
# Input Delay for 83.75 MHz PCLK
#  INPUT PORT "flaga_i" SETUP 3.554700 ns HOLD 0.300000 ns CLKNET "clk_pixel" ;
#  INPUT PORT "flagb_i" SETUP 3.554700 ns HOLD 0.300000 ns CLKNET "clk_pixel" ;

# For 16 MHz PCLK
# INPUT PORT "flaga_i" SETUP 54.15 ns HOLD 0.300000 ns CLKNET "clk_pixel" ;
# INPUT PORT "flagb_i" SETUP 54.15 ns HOLD 0.300000 ns CLKNET "clk_pixel" ;

# For 80 MHz PCLK
 INPUT PORT "flaga_i" SETUP 4.15 ns HOLD 0.49700000 ns CLKNET "clk_pixel" ;
 INPUT PORT "flagb_i" SETUP 4.15 ns HOLD 0.6100000 ns CLKNET "clk_pixel" ;

# -----------------------------------------------------------------
#
# Clock to Output Delay
#
# -----------------------------------------------------------------
# -----------------------------------------------------------------
#
# Maximum Propogation Delay:
#
#  Where, P is Period of Clock (11.9047 ns)
#         Tsp is the Setup Time of SX3 (2 ns)
#         PDMAXb is the Maximum Board Propogation Delay (0.25 ns)
#         PDMINb is the Minimum Board Propogation Delay (0.1 ns)
#         Tskew is the clock skew (0.1 ns)
#         Thp is Hold Time of SX3 (0 ns)
#
# Maximum Value = P - Tsp - PDMAXb + Tskew
#
#               = 11.9047 - 2 - 0.25 + 0.1 = 9.7547 ns
#               = 62.5    - 2 - 0.25 + 0.1 = 60.15 ns
#               = 12.5    - 2 - 0.25 + 0.1 = 10.15 ns
#
# Minumum Value = Thp - PDMINb + Tskew
#
#               = 0 - 0.1 + 0.1 = 0 ns
#
# -----------------------------------------------------------------

# CLOCK_TO_OUT PORT "sldata_o[*]" MAX 9.754700 ns MIN 0.000000 ns CLKNET "clk_pixel" CLKOUT PORT "slclk_o" ;
# # For the following the ports, consider Thp = 0.5 ns
# CLOCK_TO_OUT PORT "slwr_o" MAX 9.754700 ns MIN 0.500000 ns CLKNET "clk_pixel" CLKOUT PORT "slclk_o" ;
# CLOCK_TO_OUT PORT "pktend_o" MAX 9.754700 ns MIN 0.500000 ns CLKNET "clk_pixel" CLKOUT PORT "slclk_o" ;
# CLOCK_TO_OUT PORT "sl_addr_o[*]" MAX 9.754700 ns MIN 0.500000 ns CLKNET "clk_pixel" CLKOUT PORT "slclk_o" ;

# CLOCK_TO_OUT PORT "sldata_o[*]"  MAX 60.15 ns MIN 0.000000 ns CLKNET "clk_pixel" CLKOUT PORT "slclk_o" ;
# # For the following the ports, consider Thp = 0.5 ns
# CLOCK_TO_OUT PORT "slwr_o"       MAX 60.15 ns MIN 0.500000 ns CLKNET "clk_pixel" CLKOUT PORT "slclk_o" ;
# CLOCK_TO_OUT PORT "pktend_o"     MAX 60.15 ns MIN 0.500000 ns CLKNET "clk_pixel" CLKOUT PORT "slclk_o" ;
# CLOCK_TO_OUT PORT "sl_addr_o[*]" MAX 60.15 ns MIN 0.500000 ns CLKNET "clk_pixel" CLKOUT PORT "slclk_o" ;

 CLOCK_TO_OUT PORT "sldata_o[*]"  MAX 10.15 ns MIN 0.000000 ns CLKNET "clk_pixel" CLKOUT PORT "slclk_o" ;
 # For the following the ports, consider Thp = 0.5 ns
 CLOCK_TO_OUT PORT "slwr_o"       MAX 10.15 ns MIN 0.500000 ns CLKNET "clk_pixel" CLKOUT PORT "slclk_o" ;
 CLOCK_TO_OUT PORT "pktend_o"     MAX 10.15 ns MIN 0.500000 ns CLKNET "clk_pixel" CLKOUT PORT "slclk_o" ;
 CLOCK_TO_OUT PORT "sl_addr_o[*]" MAX 10.15 ns MIN 0.500000 ns CLKNET "clk_pixel" CLKOUT PORT "slclk_o" ;

BLOCK PATH FROM CLKNET "clk_osc" TO CLKNET "clk_pixel" ;
BLOCK PATH FROM CLKNET "clk_pixel" TO CLKNET "clk_osc" ;

BLOCK PATH FROM CLKNET "mic_clk_o_c" TO CLKNET "clk_pixel" ;
BLOCK PATH FROM CLKNET "clk_pixel" TO CLKNET "mic_clk_o_c" ;

BLOCK PATH FROM CELL "rst_brg_osc/rst_meta_8"  ;
BLOCK PATH FROM CELL "rst_brg_pix/rst_meta_8"  ;

BLOCK PATH FROM CELL "sync_cam_en/data_src_r*" TO CELL "sync_cam_en/data_m1_r_8" ;
BLOCK PATH FROM CELL "sync_vidrst/data_src_r_7" TO CELL "sync_vidrst/data_m1_r_8" ;
BLOCK PATH FROM CELL "sync_img_size/data_src_r*" TO CELL "sync_img_size/data_m1_r*" ;

LOCATE COMP "cam_clk" SITE "J9" ;
IOBUF PORT "cam_clk" IO_TYPE=LVCMOS33 PULLMODE=NONE ;

