rvl_alias "clk_hs" "clk_hs";
RVL_ALIAS "clk_osc" "clk_osc"; 
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "reset" SITE "B2" ;
IOBUF PORT "reset" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "pin[0]" SITE "D9" ;
LOCATE COMP "pin[1]" SITE "C9" ;
LOCATE COMP "pin[2]" SITE "D10" ;
LOCATE COMP "pin[3]" SITE "D11" ;
IOBUF PORT "pin[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pin[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pin[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pin[3]" IO_TYPE=LVCMOS33 ;
//LOCATE COMP "xclk" SITE "B10" ;
//IOBUF PORT "xclk" IO_TYPE=LVCMOS33 ;
//LOCATE COMP "clkin" SITE "A6" ;
//IOBUF PORT "clkin" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "debug[0]" SITE "B10" ;
LOCATE COMP "debug[1]" SITE "B11" ;
LOCATE COMP "debug[2]" SITE "C10" ;
LOCATE COMP "debug[3]" SITE "C11" ;
IOBUF PORT "debug[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "debug[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "debug[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "debug[3]" IO_TYPE=LVCMOS33 ;
BLOCK JTAGPATHS ;
