BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
SYSCONFIG SLAVE_SPI_PORT=DISABLE ;

LOCATE COMP "SDA" SITE "C3" ;
LOCATE COMP "SCL" SITE "F3" ;
LOCATE COMP "FSIN" SITE "E4" ;
LOCATE COMP "GPIO0" SITE "F1" ;
LOCATE COMP "GPIO1" SITE "F2" ;
//LOCATE COMP "CK_P" SITE "D1" ;
//LOCATE COMP "CK_N" SITE "E1" ;
//LOCATE COMP "D0_P" SITE "B1" ;
//LOCATE COMP "D0_N" SITE "C1" ;
//LOCATE COMP "D1_P" SITE "B2" ;
//LOCATE COMP "D1_N" SITE "C2" ;
LOCATE COMP "DIFF_N" SITE "D5" ;
LOCATE COMP "DIFF_P" SITE "E5" ;
