BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
SYSCONFIG SLAVE_SPI_PORT=DISABLE ;
LOCATE COMP "SDA" SITE "C3" ;
LOCATE COMP "SCL" SITE "F3" ;
LOCATE COMP "FSIN" SITE "E4" ;
LOCATE COMP "GPIO0" SITE "F1" ;
LOCATE COMP "GPIO1" SITE "F2" ;
//LOCATE COMP "CK_P" SITE "D1" ;
//LOCATE COMP "CK_N" SITE "E1" ;
//LOCATE COMP "D0_P" SITE "B1" ;
//LOCATE COMP "D0_N" SITE "C1" ;
//LOCATE COMP "D1_P" SITE "B2" ;
//LOCATE COMP "D1_N" SITE "C2" ;
LOCATE COMP "DIFF_N" SITE "D5" ;
LOCATE COMP "DIFF_P" SITE "E5" ;
LOCATE COMP "mipidphy2cmos/rx_dphy/csi_dphy_rx_inst/dphy_rx_inst/u_dphy_wrapper/MIXEL.mixel_dphy" SITE "MIPIDPHY1" ;
FREQUENCY NET "clk_mipi" 83.000000 MHz HOLD_MARGIN -1.000000 ns ;
FREQUENCY NET "mipidphy2cmos/rx_dphy/csi_dphy_rx_inst/dphy_rx_inst/csi_dphy_rx_clk_byte_o" 83.000000 MHz HOLD_MARGIN -1.000000 ns ;
FREQUENCY NET "clk_pixel_hs" 100.000000 MHz PAR_ADJ 32.799999 HOLD_MARGIN -2.000000 ns ;
FREQUENCY NET "clk_osc" 48.000000 MHz HOLD_MARGIN -1.000000 ns ;
